@import './normalize';
@import './variables';
@import './mixins';
@import './base';
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html {
  height: 100%;
}
body {
  min-height: 100%;
  font-family: 'Lato', sans-serif;
  background: rgba(19,19,19,1);
  background: -moz-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(76,76,76,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(19,19,19,1)), color-stop(100%, rgba(76,76,76,1)));
  background: -webkit-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(76,76,76,1) 100%);
  background: -o-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(76,76,76,1) 100%);
  background: -ms-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(76,76,76,1) 100%);
  background: linear-gradient(to bottom, rgba(19,19,19,1) 0%, rgba(76,76,76,1) 100%);
}

.background_color_dark {
  color: #fff;
}
